<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlizzTV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BlizzTV.Properties.Settings>
            <setting name="NeedsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeToSystemTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowAutomaticUpdateChecks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowBetaVersionNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDebugLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDebugConsole" serializeAs="String">
                <value>False</value>
            </setting>
        </BlizzTV.Properties.Settings>
    </userSettings>
</configuration>