<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LibBlizzTV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LibBlizzTV.Properties.Settings>
            <setting name="NeedsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ContentViewerMode" serializeAs="String">
                <value>InternalViewers</value>
            </setting>
            <setting name="VideoPlayerWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="VideoPlayerHeight" serializeAs="String">
                <value>385</value>
            </setting>
            <setting name="PlayerWindowsAlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoplayVideos" serializeAs="String">
                <value>True</value>
            </setting>
        </LibBlizzTV.Properties.Settings>
    </userSettings>
</configuration>